LilyGo-T-SIM7080G/examples/MinimalModemGPSExample/node-red-flows/flows.json
[
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "gps-flow",
        "name": "LilyGo GPS",
        "topic": "lilygo/gps/#",
        "qos": "1",
        "datatype": "json",
        "broker": "emqx",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse-type"]]
    },
    {
        "id": "emqx",
        "type": "mqtt-broker",
        "name": "EMQX Local",
        "broker": "emqx",
        "port": "1883",
        "clientid": "nodered-gps",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "parse-type",
        "type": "switch",
        "z": "gps-flow",
        "name": "Route by type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "live", "vt": "str"},
            {"t": "eq", "v": "batch", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 100,
        "wires": [
            ["format-live"],
            ["split-batch"]
        ]
    },
    {
        "id": "format-live",
        "type": "function",
        "z": "gps-flow",
        "name": "Format for InfluxDB",
        "func": "// Format live GPS fix for InfluxDB\nvar p = msg.payload;\n\nmsg.measurement = \"gps\";\nmsg.payload = [{\n    lat: p.lat,\n    lon: p.lon,\n    altitude: p.alt,\n    speed: p.spd,\n    satellites: p.sat,\n    accuracy: p.acc\n}];\n\nmsg.time = new Date(p.dt).getTime() * 1000000; // nanoseconds\nmsg.tag = {\n    device: \"lilygo\",\n    type: \"live\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [["influx-out"]]
    },
    {
        "id": "split-batch",
        "type": "function",
        "z": "gps-flow",
        "name": "Split batch",
        "func": "// Split batch into individual points\nvar batch = msg.payload;\nvar msgs = [];\n\nfor (var i = 0; i < batch.fixes.length; i++) {\n    var fix = batch.fixes[i];\n    var newMsg = {\n        measurement: \"gps\",\n        payload: [{\n            lat: fix.lat,\n            lon: fix.lon,\n            altitude: fix.alt,\n            speed: fix.spd,\n            satellites: fix.sat,\n            accuracy: fix.acc\n        }],\n        time: fix.ts * 1000000, // convert to nanoseconds\n        tag: {\n            device: \"lilygo\",\n            type: \"buffered\"\n        }\n    };\n    msgs.push(newMsg);\n}\n\nreturn [msgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [["influx-out"]]
    },
    {
        "id": "influx-out",
        "type": "influxdb out",
        "z": "gps-flow",
        "influxdb": "influx-config",
        "name": "Save to InfluxDB",
        "measurement": "gps",
        "precision": "ns",
        "retentionPolicy": "",
        "database": "gps-data",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "gps-tracking",
        "bucket": "gps-data",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "influx-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "gps-data",
        "name": "InfluxDB Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true,
        "token": "",
        "organization": "gps-tracking",
        "bucket": "gps-data"
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "gps-flow",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 160,
        "wires": []
    }
]
